{% load widget_tweaks %}
{% load static %}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Edite o contato: {{ person.name }}</h3>
            <button type="button" class="close" data-dismiss="modal">
                <span>x</span>
            </button>
        </div>
        <form method="post" enctype="multipart/form-data" action="{% url 'edit_contact' person.id %}">
            {% csrf_token %}
            <div class="modal-body">
                <div class="container mt-lg-4">
                    <div class="col-md-12">
                        <div class="row mt-lg-3">
                            <div class="col-md-6 mb-4">
                                <label for="{{ form.name.id_for_label }}">Nome</label>
                                {{ form.name | add_class:"form-control" }}
                            </div>
                            <div class="col-md-6 mb-4">
                                <label for="{{ form.surname.id_for_label }}">Sobrenome:</label>
                                {{ form.surname | add_class:"form-control" }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <label for="{{ form.birth_date.id_for_label }}">Data de nascimento:</label>
                                {% render_field form.birth_date type="text" class="form-control" id="datepicker" %}
                            </div>
                            <div class="col-md-6 mb-4">
                                <label for="{{ form.main_phone.id_for_label }}">Telefone de Contato</label>
                                {% render_field form.main_phone type="text" class="form-control" id="telefone" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <label class="mt-2 label-control" for="{{ form.photo.id_for_label }}"></label>
                                {{ form.photo }}
                            </div>
                            <div class="col-md-6 mb-4" style="text-align: end">
                                {% if person.photo %}
                                    <img src="{{ person.photo.url }}" width="70%" height="100%">
                                {% else %}
                                    <img class="image-person" src="{% static 'person.png' %}"
                                         style="width: 50%; height: 90%">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer mb-5">
                <div class="row mt-5" style="position: absolute; right: 2em">
                    <button class="btn btn-info mr-2" type="submit">Salvar contato</button>
                    <a href="{% url 'delete_contact' person.id %}">
                        <button class="btn btn-danger" type="button">Deletar contato</button>
                    </a>

                </div>
            </div>
        </form>
    </div>
</div>
{% block javascript %}
    <script>
        $(function () {
            $("#datepicker").datepicker({
                format: 'dd/mm/yyyy',
            });
            $(document).ready(function () {
                $('#telefone').mask('(99) 99999-9999')
            });
            $(document).ready(function () {
                $('#datepicker').mask('99/99/9999')
            });

        });
    </script>
{% endblock %}
