{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <main role="main">

        <div class="jumbotron text-center ">
            <div class="container">
                <h1>Agenda de Contatos</h1>
                <p class="lead text-muted">{{ header_title }}</p>
                <p>
                    <a href="#" class="card-link" data-toggle="modal" data-target="#addModal">
                        <button onclick="open_add_modal('{% url 'modal_add_contact' %}')"
                                class="btn btn-primary my-2">Novo Contato <i class="fas fa-user-plus"></i></button>
                    </a>
                </p>
            </div>
        </div>

        <div class="album py-5 bg-light shadow">
            <div class="container">

                <div class="row">
                    {% for person in persons %}
                        <div class="col-md-4" id="personData" param="{{ person.id }}">
                            <div class="card mb-4 shadow-sm">
                                <div class="image-person" style="width: 100%; height: 225px">
                                    {% if person.photo %}
                                        <img src="{{ person.photo.url }}" class="custom-image">
                                    {% else %}
                                        <img class="image-person" src="{% static 'person.png' %}">
                                    {% endif %}
                                </div>
                                <div class="card-body">
                                    <p class="card-text"><strong>Nome:</strong> {{ person.name }} {{ person.surname }}
                                    </p>
                                    <p class="card-text"><strong>Telefone:</strong> {{ person.main_phone }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button onclick="open_edit_modal('{% url 'modal_edit_contact' person.id %}')"
                                                    class="btn btn-sm btn-info">Editar<i class="fas fa-user-edit"></i>
                                            </button>
                                            <button onclick="open_delete_modal('{% url 'modal_delete' person.id %}')"
                                                    class="btn btn-sm btn-danger">Deletar
                                                <i class="fas fa-user-times"></i>
                                            </button>
                                        </div>
                                        <small class="text-muted added">Adicionado
                                            em: <span><i class="fa fa-clock"></i> </span> {{ person.created_at|date:'d/m/Y' }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
    <!-- Modals -->
    <div class="modal fade center" id="add_contact" tabindex="-1" role="dialog"></div>
    <div class="modal fade center" id="edit_contact" tabindex="-1" role="dialog"></div>
    <div class="modal fade center" id="modal_delete" tabindex="-1" role="dialog"></div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        function open_add_modal(url) {
            $('#add_contact').focus().load(url, function () {
                $(this).modal('show');
            })
        }

        function open_edit_modal(url) {
            $('#edit_contact').focus().load(url, function () {
                $(this).modal('show');
            })
        }

        function open_delete_modal(url) {
            var modal = $('#modal_delete').load(url, function () {
                $(this).modal('show');
            })
        }

        $(function () {
            $("#datepicker").datepicker({
                format: 'dd/mm/yyyy',
            });
            $(document).ready(function () {
                $('#telefone').mask('(99) 99999-9999')
            });
            $(document).ready(function () {
                $('#datepicker').mask('99/99/9999')
            });

        });
    </script>
{% endblock javascript %}