{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1>Agenda de Contatos</h1>
                <p class="lead text-muted">{{ header_title }}</p>
                <p>
                    <a href="#" class="card-link" data-toggle="modal" data-target="#addModal">
                        <button class="btn btn-primary my-2">Novo Contato <i class="fas fa-user-plus"></i></button>
                    </a>
                </p>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row">
                    {% for person in persons %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <div class="image-person" style="width: 100%; height: 225px">
                                    {% if person.photo %}
                                        <img src="{{ person.photo.url }}" width="100%" height="225">
                                    {% else %}
                                        <img class="image-person" src="{% static 'person.png' %}">
                                    {% endif %}
                                </div>
                                <div class="card-body">
                                    <p class="card-text"><strong>Nome:</strong> {{ person.name }} {{ person.surname }}
                                    </p>
                                    <p class="card-text"><strong>Telefone:</strong> {{ person.main_phone }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button class="btn btn-sm btn-info" data-toggle="modal"
                                                    data-target="#editModal">Editar
                                                <i class="fas fa-user-edit"></i>
                                            </button>
                                            <a href="#">
                                                <button class="btn btn-sm btn-danger" data-toggle="modal"
                                                        data-target="#deleteModal">
                                                    Deletar
                                                    <i class="fas fa-user-times"></i>
                                                </button>
                                            </a>
                                        </div>
                                        <small class="text-muted added">Adicionado
                                            em: {{ person.created_at|date:'d/m/Y' }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
    <!-- Modals -->

    <!-- Modal Add -->
    <div class="modal fade center" id="addModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Adicione um novo contato</h3>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>x</span>
                    </button>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            {% csrf_token %}
                            {{ form.as_p }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info">Adicione o Contato</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal Edit -->
    <div class="modal fade center" id="editModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Edite o contato {{ person.name }}</h3>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>x</span>
                    </button>
                </div>
                <form method="post">
                    <div class="modal-body">

                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info">Adicione o Contato</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal Delete -->
    <div class="modal fade center" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Confirmação da exclusão</h3>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>x</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Tem certeza que deseja deletar esse contato? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info">Não</button>
                    <button type="button" class="btn btn-danger">Sim</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
